@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Kanit';
}

body{
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: rgb(40, 40, 40);
    color: #ffffff;
}

#head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head h1 {
    font-size: 70px;
}

#search-input-submit{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#search-input-submit #text {
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 1px #ffffff36;
}

#search-input-submit #submit {
    width: 120px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 25px 1px #4f3ab688;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #4f3ab6;
    transition: 0.2s;
}