@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Kanit';
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(40, 40, 40);
    color: #ffffff;
}

#head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head h1 {
    font-size: 70px;
}

#search-input-submit form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-input-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

#search-input-submit #text {
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 1px #ffffff36;
}

#search-input-submit #submit {
    width: 120px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 25px 1px #4f3ab688;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #4f3ab6;
    transition: 0.5s;
}

#search-input-submit #submit:hover{
    background-color: rgb(40, 40, 40);
    border: 3px solid #4f3ab6;
}

#msg{
    margin: 5px;
    text-align: center;
}

#Show-weader{
    display: flex;
    justify-content: center;
    margin: 0px 20px;
}

#Show-weader-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.card-weather{
    width: 195px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
}

.countryName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 55px;
    height: 40px;
    border-radius: 7px;
    background-color: #4f3ab6;
    color: #ffffff;
}

.cityName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.cityTemp{
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.cityTemp .temp{
    font-size: 40px;
}

.card-weather img {
    width: 80px;
    filter: drop-shadow(0px 0px 8px #4c4c4c);
}